<div>
  <header class="container-fluid py-3 shadow mb-5">
    <nav
      class=" container px-3 d-flex flex-row justify-content-between align-items-center "
    >
      <div>
        <img src="/img/logo.jpg" width="150" />
      </div>
      <ul class="nav justify-content-center align-items-center">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li>
          <a class="nav-link" routerLink="/employees">Mitarbeiter</a>
        </li>
        <li>
          <a class="nav-link" routerLink="/qualifications">Qualifikationen</a>
        </li>
      </ul>
      <button
        class="btn btn-primary h-50 d-flex flex-row gap-1 justify-content-center align-items-center"
      >
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
      <mat-slide-toggle (click)="toggleDarkMode()">Darkmode</mat-slide-toggle>
    </nav>
  </header>
  <main class="container-fluid">
    <router-outlet></router-outlet>
  </main>
</div>
