<div class="alert alert-primary d-flex align-items-center" role="alert" *ngIf="data.type == 'default'">
  <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Info:">
    <use xlink:href="#info-fill" />
  </svg>
  <div>{{ data.message }}</div>
</div>

<!-- <div class="alert alert-success d-flex align-items-center" role="alert" *ngIf="data.type == 'success'">
  <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Info:">
    <use xlink:href="#check-circle-fill" />
  </svg>
  <div>{{ data.message }}</div>
</div> -->
