<div class="container-lg d-flex flex-column justify-content-center vh-100">
  <mat-grid-list cols="2" rowHeight="1:1">
    <mat-grid-tile class="card">
      <img src="/img/logo.jpg" height="100%" />
    </mat-grid-tile>
    <mat-grid-tile class="card p-5 h-100">
      <div class="container mt-5 d-flex h-100 flex-column align-items-center justify-content-evenly">
        <div
          class="d-flex flex-column align-items-center justify-content-start"
        >
          <h1>HiTec GmbH</h1>
          <h1>EMS</h1>
          <p class="p-3 text-center">
            Die HiTec GmbH ist ein ISO/IEC 27001 zertifiziertes IT-Systemhaus
            mit über 15 Jahren Erfahrung. Wir bieten Softwareentwicklung,
            IT-Beratung, Netzwerkplanung und Support - zuverlässig und
            zukunftssicher.
          </p>
        </div>

        <a mat-flat-button class="rounded-pill px-5">Anmelden mit Keycloak</a>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
