<div class="container main_container d-flex justify-content-center align-items-center vh-100">
  <div class="loading-state flex-column gap-3 text-center" *ngIf="isLoading == true">
    <div class="loading"></div>
    <h2>Sie werden zum Anmelden zu Keycloak weitergeleitet...</h2>
  </div>

  <div class="row justify-content-center align-items-center w-100" *ngIf="!isLoading">
    <div class="col col-10">
      <mat-card class="example-card d-flex flex-row align-items-stretch p-5 bg-dark text-light rounded-4">
        <div class="logo-container d-flex align-items-center justify-content-center me-4 rounded" style="width: 500px; height: 400px; background-color: #59779b;">
          <img src="/img/logo.jpg" alt="" class="rounded-3 shadow-lg" style="object-fit: contain; width: 100%; height: 100%;" />
        </div>

        <div class="text-container d-flex flex-column justify-content-between text-center w-100">
          <div>
            <mat-card-title style="font-size: 5rem; font-weight: bold; padding-top: 20px;">HiTec GmbH</mat-card-title>
            <mat-card-subtitle class="fw-bold display-4 mt-2" style="padding-top: 5px;">Employee Management Service</mat-card-subtitle>
          </div>

          <mat-card-content class="py-4">
            <p class="fs-5">
              Die HiTec GmbH ist ein ISO/IEC 27001 zertifiziertes IT-Systemhaus mit über 15 Jahren Erfahrung.
              Wir bieten Softwareentwicklung, IT-Beratung, Netzwerkplanung und Support – zuverlässig und zukunftssicher.
            </p>
          </mat-card-content>

          <mat-card-actions class="d-flex justify-content-center">
            <a mat-flat-button class="btn btn-light px-5 py-2 fw-bold rounded-pill shadow-sm"
               (click)="startEMS()" style="background-color: #fff; color: #333; border: 1px solid #ccc;">
              Anmelden mit Keycloak
            </a>
          </mat-card-actions>
        </div>
      </mat-card>
    </div>
  </div>
</div>
