<app-main-view>
  <div
    class="container w-100 d-flex justify-content-center align-items-center"
    *ngIf="isLoading == true"
  >
    <mat-spinner></mat-spinner>
  </div>
  <div class="container" *ngIf="isLoading == false">
    <h1>Qualification</h1>
    <div class="list-group">
      <div
        *ngFor="let qualification of qualifications$ | async; let last = last"
      >
        <div
          class="list-group-item d-flex justify-content-between align-items-center border-0"
        >
          <span class="me-3">
            {{ qualification.skill }} [ID: {{ qualification.id }}]
          </span>

          <span>
            <i
              class="bi bi-trash text-danger"
              role="button"
              (click)="openDeleteQualificationModal(qualification)"
            ></i>
          </span>
        </div>

        <div class="border-bottom" *ngIf="!last"></div>
      </div>
    </div>

    <button
      class="btn btn-primary position-fixed bottom-0 end-0 m-4"
      routerLink="/new-qualification"
    >
      Neue Qualification
    </button>
  </div>
</app-main-view>

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css"
/>
