<div>
  <div class="container">
    <div class="row mb-4">

      <div class="col">
        <div id="box-1" class="card">
          <div class="card-body">
            <div class="row">
              <div
                class="col d-flex flex-row justify-content-between align-items-center gap-3"
              >
                <div class="d-flex flex-column gap-3 w-50">
                  <h5>
                    Wie ist der aktuelle Stand der Mitarbeiter und die Anzahl
                    der Kunden?
                  </h5>
                  <ul>
                    <li>Mitarbeiter</li>
                    <li>Kunden</li>
                  </ul>
                </div>
                <div class="d-flex flex-column align-items-end">
                  <h1>7 <span class="fs-5">Mitarbeiter</span></h1>
                  <h1>21 <span class="fs-5">Kunden</span></h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div id="box-2" class="card">
          <div class="card-body">
            <div class="row">
              <div
                class="col d-flex flex-row justify-content-between align-items-center gap-3"
              >
                <div class="d-flex flex-column gap-3 w-50">
                  <h5>Wie stark ist unsere Verteilung der Qualifikationen?</h5>
                  <ul>
                    <li>Java</li>
                    <li>C++</li>
                    <li>Kotlin</li>
                    <li>PHP</li>
                    <li>Typescript</li>
                  </ul>
                </div>
                <div class="d-flex flex-column align-items-end">
                  <img src="/img/chart_qualification.svg" width="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div id="box-3" class="card">
          <div class="card-body">
            <div class="row">
              <img src="/img/logo.jpg" width="" />
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div id="box-4" class="card">
          <div class="card-body">
            <div class="row">
              <div class="col">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                diam nonumy eirmod tempor invidunt ut labore et dolore magna
                aliquyam erat, sed diam voluptua. At vero eos et accusam et
                justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
                takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
                dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                sed diam voluptua. At vero eos et accusam et justo duo dolores
                et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus
                est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                invidunt ut labore et dolore magna aliquyam erat, sed diam
                voluptua. At vero eos et accusam et justo duo dolores et ea
                rebum. Stet clita kasd gubergren, no sea takimata sanctus est
                Lorem ipsum dolor sit amet.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
