<div>
  <h1>Home</h1>
  <p>Willkommen in der Employee Management Anwendung</p>

  <div class="container">
    <div class="row">
      <div class="col">
        <div id="box-1" class="card">
          <div class="card-body">
            <div class="col">
              <div class="row">oben links</div>
              <div class="row">unten links</div>
            </div>
            <div class="col">
              <div class="row">oben rechts</div>
              <div class="row">unten rechts</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div id="box-2" class="card">
          <div class="card-body">
            <h5 class="card-title">Anwendung 2</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi,
              autem.
            </p>
            <a routerLink="/employees" class="btn btn-primary">Anwendung 1</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div id="box-3" class="card">
          <div class="card-body">
            <h5 class="card-title">Anwendung 3</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi,
              autem.
            </p>
            <a routerLink="/employees" class="btn btn-primary">Anwendung 1</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div id="box-4" class="card">
          <div class="card-body">
            <h5 class="card-title">Anwendung 4</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi,
              autem.
            </p>
            <a routerLink="/employees" class="btn btn-primary">Anwendung 1</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
