<app-main-view></app-main-view>
<section>
  <h1 class="container">Mitarbeiter anlegen</h1>

  <div class="container">

    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">

      <div class="formfield">
        <div class="inputfield">
          <label for="firstName">Vorname</label>
          <input class="form-control rounded-pill mb-2" id="firstName" formControlName="firstName" type="text">

          <label for="lastName">Nachname</label>
          <input class="form-control rounded-pill mb-2" id="lastName" formControlName="lastName" type="text">

          <label for="phone">Telefonnummer</label>
          <input class="form-control rounded-pill mb-2" id="phone" formControlName="phone" type="text">
        </div>

        <div class="inputfield">
          <label for="street">Straße und Hausnummer</label>
          <input class="form-control rounded-pill mb-2" id="street" formControlName="street" type="text">

          <label for="city">Stadt</label>
          <input class="form-control rounded-pill mb-2" id="city" formControlName="city" type="text">

          <label for="postcode">Postleitzahl</label>
          <input class="form-control rounded-pill mb-2" id="postcode" formControlName="postcode" type="text">
        </div>
      </div>

      <h5 class="container">Qualifikationen</h5>
      <div class="container">
        <mat-form-field appearance="fill">
          <mat-select id="qualificationSelect" name="qualificationSelect" [(value)]="selectedItems"
                      multiple placeholder="Qualifikationen" (selectionChange)="onSelectionChange($event)">
            <mat-option *ngFor="let option of options$ | async" value="{{option.id}}">
              {{ option.skill }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="container mt-3">
        <div class="d-flex justify-content-end w-100 mt-4">
          <button class="btn btn-secondary me-2" type="button" routerLink="/employees">Abbrechen</button>
          <button class="btn btn-primary" type="submit">Hinzufügen</button>
        </div>
      </div>
    </form>
  </div>
</section>
