/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;

html {
  color-scheme: light;
  @include mat.theme(
    (
      color: mat.$azure-palette,

      typography: Roboto,
      density: 0,
    )
  );
}

html.darkmode {
  color-scheme: dark;
  @include mat.theme(
    (
      color: mat.$green-palette,
      typography: Roboto,
      density: 0,
    ),
    $overrides: (sys-surface: #232225)
  );
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import 'ngx-toastr/toastr';

body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

:root {
  --fab-bg-color: #b6b6b6;
  --fab-icon-color: #000000;
  --fab-hover-bg-color: #d1d1d1;
}

[data-bs-theme="dark"] {
  --fab-bg-color: #ffffff;
  --fab-icon-color: #000000;
  --fab-hover-bg-color: #d1d1d1;
}

.fab {
  width: 64px;
  height: 64px;
  border-radius: 16px;
  background-color: var(--fab-bg-color);
  color: var(--fab-icon-color);
  border: none;
  transition: background-color 0.3s, transform 0.2s;
}

.fab:hover {
  background-color: var(--fab-hover-bg-color);
  transform: scale(1.1);
}

.fab i {
  font-size: 1.5rem;
}

:app-qualification-view {
  @include mat.snack-bar-overrides(
    (
      container-color: orange,
      supporting-text-color: red,
    )
  );
}
