/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;

html {
  color-scheme: light;
  @include mat.theme(
    (
      color: mat.$azure-palette,

      typography: Roboto,
      density: 0,
    )
  );
}

html.darkmode {
  color-scheme: dark;
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: Roboto,
      density: 0,
    ),
    $overrides: (sys-surface: #1d1b20)
  );
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}
